/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* new clearfix */
.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .cf             { zoom: 1; } /* IE6 */
*:first-child+html .cf { zoom: 1; } /* IE7 */





@font-face {
	font-family:'TitilliumMaps29L';
	src:url('TitilliumMaps29L.eot?') format('eot'),url('TitilliumMaps29L.woff') format('woff'),url('TitilliumMaps29L.ttf') format('ttf'),url('TitilliumMaps29L.svg#webfontgRcwvskg') format('svg');
}

body {
	font-family:'TitilliumMaps29L','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#panel {
	width: 576px;
	margin: 20px auto;
}

.content-background {
	height: 24px;
	background: #fff url('border.png') no-repeat;
}

#content-background-top {
	background-position: center top;
}

#content-background-bottom {
	background-position: center bottom;
}

#navbar {
	height: 43px;
	background: url('bar.png') no-repeat;
}

#navbar table {
	width: 100%;
}

#navbar td {
	text-align: center;
	line-height: 36px;
	font-size: 26px;
}

#navbar td a {
	display: block;
}

#content {
	background: #fff url('background.png') repeat-y center top;
	padding: 30px 37px;
}

a, a:link, a:hover, a:active, a:visited {
	color: #000;
	text-decoration: none;
}

h2 {
	font-size: 150%;
}

.center-button {
	margin: 35px auto 0;
	text-align: center;
	width: 164px;
}

.screenshot {
	float: left;
	margin: 0 8px 8px 0;
}

.button {
	display: inline-block;
	width: 164px;
	height: 42px;
	background: url('button.png');
}

.button a {
	display: block;
	position: relative;
	height: 36px;
	font-size: 20px;
	line-height: 36px;
}

.button div {
	height: 36px;
}

.button .icon {
	position: absolute;
	left: 13px;
	top: 8px;
	width: 20px;
	height: 20px;
	background: url('icons.png') no-repeat;
}

.button .text {
	position: absolute;
	right: 0;
	top: 0;
	width: 116px;
	text-align: center;
}

.button-download .icon {
	background-position: 0px 0px;
}

.button-next .icon {
	background-position: -20px 0px;
}
